.hero {
  padding: 30px 0;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f5f0;
  overflow: hidden;
}

.heroMobileImg {
  max-width: 476px;
  width: 100%;
  display: block;
  margin: 10px auto 50px;
}

.topContainer {
  position: relative;
}

.header {
  position: relative;
}

.headerSocials {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
}

.headerSocials a {
  display: flex;
  text-decoration: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-green);
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.counterWrap {
  margin: 0 auto 30px;
  padding-top: 64px;
  width: 220px;
}

.counterText {
  text-align: center;
  font-weight: 600;
  margin-top: 12px;
  line-height: 1.2;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counterItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 78px;
  border-radius: 6px;
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 800;
  box-shadow: 0 4px 0 var(--color-green);
  background: linear-gradient(
    to bottom,
    #2fa037 0%,
    #2fa037 50%,
    #75bb65 50%,
    #75bb65 100%
  );
}

.counterItemDivider {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ccc;
  display: inline-block;
}

.counterItemDivider:before,
.counterItemDivider:after {
  content: "";
  position: absolute;
  top: -2px;
  width: 3px;
  height: 6px;
  background-color: #ccc;
  display: inline-block;
}

.counterItemDivider:before {
  left: 0;
}
.counterItemDivider:after {
  right: 0;
}

.heroTitle {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  flex-grow: 1;
}

.heroText {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 32px;
  text-align: center;
}

.heroText + .heroText {
  margin-top: 24px;
}

.heroTextHash {
  font-size: 26px;
  line-height: 1.8;
  text-align: center;
  font-weight: 900;
  color: var(--color-green);
  margin-top: 32px;
}

.heroTextHash > span {
  color: var(--color-body);
}

.heroModalTitle {
  font-size: 26px;
  margin: 0 0 25px;
}

.heroFormWrapper {
  padding: 40px 36px;
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.buttons .button {
  margin: 3px;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.heroLink {
  color: var(--color-white);
  text-decoration: underline;
  display: inline-flex;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
}

.heroLink:hover {
  text-decoration: none;
}

@media all and (min-width: 415px) {
  .hero {
    background-position: center;
  }

  .buttons {
    margin-top: 15px;
  }
}

@media all and (min-width: 1024px) {
  .hero {
    background: #f8f5f0 url("./images/4.svg") no-repeat;
    background-size: auto 560px;
    background-position: 20px 90px;
    height: 780px;
    background-position: 100% calc(100% + 20px);
    padding-bottom: 80px;
  }

  .heroMobileImg {
    display: none;
  }

  .heroTitle {
    text-align: left;
    font-size: 60px;
    max-width: 45%;
    margin-top: 120px;
  }

  .heroText {
    max-width: 55%;
    font-size: 24px;
    text-align: left;
  }

  .heroTextHash {
    font-size: 40px;
    text-align: left;
  }

  .logo img {
    max-width: 158px;
  }

  .buttons {
    margin-top: 32px;
    max-width: 55%;
  }

  .buttons .button {
    margin: 0;
  }

  .heroImg {
    max-width: 720px;
    position: absolute;
    bottom: auto;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  .heroContainer {
    align-items: flex-start;
    flex-grow: unset;
  }

  .counterWrap {
    position: absolute;
    left: 50%;
    margin: 0;
    padding-top: 0;
  }

  .counterText {
    padding: 0 40px;
  }
}

@media all and (min-width: 1200px) {
  .hero {
    background-size: auto 660px;
    padding: 64px 0;
  }

  .heroImg {
    margin-left: -120px;
  }
}
