.modal {
  max-width: 375px;
  width: 100%;
  /* background-color: var(--color-grey-middle); */
  background-color: var(--color-white);
  border-radius: 1px;
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 0;
  margin-top: 50px;
  height: 100%;
  transform: translate(-50%, 0);
  margin-bottom: 40px;
}

.modal.dark {
  background-color: #373c3f;
  color: var(--color-white);
}

@media all and (min-width: 768px) {
  .modal {
    max-width: 700px;
    top: 10px;
    height: auto;
  }

  .modal.modalForm {
    max-width: 550px;
  }
}

.modalContainer {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.modalOverlay {
  background-color: rgba(196, 196, 196, 0.76);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 98;
  transition: background-color 0.2s ease;
  overflow-y: auto;
}

.modalHeader {
  position: relative;
  padding-top: 150px;
  background: url("../../images/offer-header-bg.png");
}

.modalClose {
  position: absolute;
  right: 22px;
  top: 14px;
  cursor: pointer;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  border: none;
}

.modalBody {
  /* padding: 30px; */
  padding: 30px 0 30px 0;
  /* overflow-y: auto; */
  max-height: 100%;
}

.headerBg {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 0px;

  background: url("../../images/offer-header-bg.png");
  opacity: 1;
}

.food1 {
  position: absolute;
  /* width: 230px; */
  height: 230px;
  left: 50px;
  top: -67px;
  z-index: 100;
}

.food2 {
  position: absolute;
  /* width: 350px; */
  height: 350px;
  left: 200px;
  top: -130px;
}

.modalTitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;

  color: #1A1E20;
}

.desc {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  margin: 30px 0 30px 0;
  /* identical to box height */

  color: #000000;
}

.offerPlank {
  width: 100%;
  height: 90px;
}

.offer1 {
  width: 50%;
  height: 90px;
  float: left;
  padding: 10px 0px;
  background: url("../../images/orange-bg.png");
  font-family: Gilroy;
  font-style: normal;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.offer2 {
  width: 50%;
  height: 90px;
  padding: 10px 5px;
  float: left;
  background: url("../../images/green-bg.png");
  font-family: Gilroy;
  font-style: normal;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .modal {
    margin-top: 0;
  }

  .modal.modalForm {
    max-width: 550px;
  }

  .headerBg {
    height: 150px;
  }
  
  .food1 {
    height: 200px;
    left: 30px;
    top: -30px;
  }
  
  .food2 {
    height: 300px;
    left: 110px;
    top: -75px;
  }
  
  .modalTitle {
    font-size: 40px;
    line-height: 40px;
  }
  
  .offerPlank {
    width: 100%;
    height: auto;
  }
  
  .offer1 {
    width: 100%;
    height: 90px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .offer2 {
    width: 100%;
    height: 90px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
}
