.filterPanel {
  display: flex;
  align-items: center;
  margin: 50px 0;
}

.filterPanel nav > * {
  vertical-align: middle;
  /* display: flex;
  align-items: center; */
}

.filterButton {
  height: 37px;
  background: #fff;

  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  padding: 9px 14px;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}

.filterButton svg {
  margin-right: 8px;
}

.filterButton:hover,
.filterButton:focus,
.filterButton.active {
  background: #3dc383;
  color: #fff;
  box-shadow: 0px 10px 14px rgba(61, 195, 131, 0.2);
}

.filterButton:hover svg,
.filterButton:focus svg,
.filterButton.active svg {
  color: #fff;
}

@media all and (max-width: 767px) {
  .filterPanel {
    margin: 32px 0;
  }

  .filterButton {
    height: 26px;
    border-radius: 40px;
    padding: 7px 10px;
    margin: 6px;
  }

  .filterButton svg {
    max-width: 11px;
    margin-right: 6px;
  }
}
