.productHero {
  height: calc(100vh - 82px);
  overflow: hidden;
  position: relative;
}

.productHeroTitle {
  font-size: 30px;
  text-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
  margin: 0 0 38px;
  text-align: center;
}

.productHeroBtn {
  padding-left: 50px;
  padding-right: 50px;
  margin: 60px 21px 32px;
  width: calc(100% - 42px);
}

.productHeroList {
  margin: 0;
  padding: 0;
}

.productHeroList li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  padding-left: 32px;
  position: relative;
  margin-bottom: 20px;
}

.productHeroList li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: url("./icons/check-icon.svg") center no-repeat;
  background-size: cover;
  width: 12px;
  height: 9px;
  display: inline-block;
}

.productHeroImg {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
}

.productHeroCaption {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white);
}

@media all and (min-width: 768px) {
  .productHero {
    height: 660px;
  }

  .productHeroTitle {
    text-align: left;
    font-size: 60px;
  }

  .productHeroBtn {
    display: inline-block;
    margin: 60px 0 0 32px;
    width: auto;
  }

  .productHeroList li {
    font-size: 20px;
  }

  .productHeroList li:before {
    width: 14px;
    height: 12px;
  }
}

@media all and (min-width: 1024px) {
  .productHeroList {
    width: 40%;
  }
}
