.section {
  background-color: var(--color-white);
}

.title {
  margin-bottom: 20px;
}

.text {
  max-width: 920px;
  margin: 0 auto 40px;
  font-size: 14px;
}

.card {
  position: relative;
  margin: 30px 0 0;
}

.cardBody {
  padding: 0 0 0 80px;
}

.cardIcon {
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  max-width: 60px;
  width: 100%;
  display: inline-block;
}

.cardIcon > img {
  max-width: 100%;
}

.cardTitle {
  margin-bottom: 12px;
  font-size: 16px;
}

.cardText {
  font-size: 14px;
  line-height: 1.3;
}

.cardGrid {
  display: block;
}

.link {
  display: inline-block;
  font-weight: 600;
  margin-top: 30px;
  color: var(--color-green);
  font-size: 16px;
  text-decoration: none;
  transition: 0.2s all;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.link:hover {
  opacity: 0.8;
}

.link > img {
  margin-left: 7px;
  width: 12px;
}

@media all and (min-width: 768px) {
  .title {
    margin-bottom: 20px;
    text-align: center;
  }

  .text {
    max-width: 920px;
    margin: 0 auto 40px;
    font-size: 18px;
    text-align: center;
  }

  .card {
    background-color: var(--color-white);
    border: 1px solid var(--color-green);
    border-radius: 10px;
    margin: 70px 0 0;
  }

  .cardIcon {
    position: absolute;
    top: -50px;
    left: 50%;
    padding: 0 34px;
    transform: translate(-50%, 0);
    max-width: none;
    width: auto;
    display: inline-block;
  }

  .cardBody {
    padding: 68px 30px 40px;
    text-align: center;
  }

  .cardTitle {
    height: 70px;
    text-overflow: ellipsis;
    margin-bottom: 16px;
    font-size: 22px;
  }

  .cardText {
    font-size: 18px;
  }

  .cardGrid {
    display: grid;
    justify-content: center;
    grid-gap: 62px;
    grid-template-columns: repeat(3, calc(33.3333% - 62px));
  }

  .link {
    font-size: 18px;
    margin-top: 56px;
  }

  .link > img {
    width: 13px;
  }
}
