.section {
  background-color: var(--color-grey);
}

.title {
  margin-bottom: 20px;
}

.text {
  max-width: 800px;
  margin: 0 auto 50px;
  font-size: 14px;
}

.card {
  position: relative;
  margin: 16px 0 0;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
}

.cardBody {
  padding: 0 0 0 16px;
}

.cardIcon {
  max-width: 60px;
  width: 100%;
  display: inline-block;
}

.cardIcon > img {
  max-width: 100%;
}

.cardTitle {
  margin-bottom: 12px;
  font-size: 16px;
  color: var(--color-green);
}

.cardText {
  font-size: 14px;
  line-height: 1.3;
}

.cardGrid {
  display: block;
}

.buttons {
  margin-top: 30px;
}

.buttonsTitle {
  color: var(--color-green);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 6px;
}

@media all and (min-width: 768px) {
  .title {
    margin-bottom: 20px;
    text-align: center;
  }

  .text {
    max-width: 920px;
    margin: 0 auto 40px;
    font-size: 18px;
    text-align: center;
  }

  .buttons {
    margin-top: 40px;
  }
}

@media all and (min-width: 1024px) {
  .card {
    padding: 0;
    display: block;
  }

  .cardIcon {
    max-width: 100px;
    margin: 34px auto 0;
    display: block;
  }

  .cardBody {
    padding: 20px 24px 34px;
    text-align: center;
  }

  .cardTitle {
    height: 70px;
    text-overflow: ellipsis;
    margin-bottom: 16px;
    font-size: 22px;
  }

  .cardText {
    font-size: 18px;
  }

  .cardGrid {
    display: grid;
    justify-content: center;
    grid-gap: 30px;
    grid-template-columns: repeat(2, calc(50% - 30px));
  }
}

@media all and (min-width: 1200px) {
  .cardGrid {
    grid-template-columns: repeat(4, calc(25% - 30px));
  }
}
