.hero {
  color: var(--color-white);
  /* padding: 32px 0; */
  padding: 64px 0 32px;
  height: 460px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-black) url("./images/hero-bg-mobile.png") no-repeat;
  background-position: 20px 90px;
  overflow: hidden;
}

.title {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
  flex-grow: 1;
}

.heroModalTitle {
  font-size: 26px;
  margin: 0 0 25px;
}

.heroFormWrapper {
  padding: 40px 36px;
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 3px;
}

.img {
  float: right;
  width: 100%;
  max-width: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.link {
  color: var(--color-white);
  text-decoration: underline;
  display: inline-flex;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

@media all and (min-width: 415px) {
  .hero {
    background-position: center;
  }

  .buttons {
    margin-top: 15px;
  }
}

@media all and (min-width: 1024px) {
  .title {
    text-align: left;
    font-size: 60px;
    max-width: 55%;
    margin-top: 96px;
  }

  .hero {
    height: 630px;
    background: #1a1e20 url("./images/hero-bg-desktop.png") center no-repeat;
    background-position: cover;
    padding: 0;
  }

  .buttons {
    /* margin-top: 115px; */
    margin-top: 55px;
    max-width: 55%;
  }

  .button {
    margin: 0;
  }

  .img {
    max-width: 720px;
    position: absolute;
    bottom: auto;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  .container {
    align-items: flex-start;
    flex-grow: unset;
  }
}

@media all and (min-width: 1200px) {
  .buttons {
    margin-top: 115px;
  }

  .img {
    margin-left: -120px;
  }
}
