.foodCarouselSection {
  position: relative;
  z-index: 0;
  padding: 48px 0;
  overflow: hidden;
}

.carouselItem {
  padding: 0;
  outline: none;
}

.foodCardList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foodCardList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 25%;
}

.foodCardList li .el {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #909394;
}

.foodCardList li:first-child .el {
  color: var(--color-green);
}

.foodCardList li .title {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
}

.outsideButton {
  padding: 0 !important;
  width: 300px;
  margin-top: 90px;
}

.outsideButton > a {
  width: 100%;
  display: inline-block;
}

@media all and (min-width: 768px) {
  .foodCarouselSection {
    padding: 80px 0;
  }

  .carouselItem {
    padding: 0 8px;
  }
}

@media all and (min-width: 1200px) {
  .carouselItem {
    padding: 0 27px;
  }
}
