.wrapper {
  position: fixed;
  height: calc(100vh - 82px);
  width: 100vw;
  top: 82px;
  left: 0;
  background: #373c3f;
  z-index: 3;
  padding: 0 20px;
  display: none;
}

.wrapper.visible {
  display: block;
}

.topBar {
  padding: 30px 0 10px;
  text-align: right;
}

.menuItems {
  list-style: none;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 37px;
  padding: 0;
  position: relative;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, calc(50% - 24px));
  justify-content: center;
}

.menuItems:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: calc(56% + 3px);
  height: calc(56% + 3px);
  border: 6px solid green;
  background-color: transparent;
}

.menuItem {
  padding: 19px 16px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  height: 120px;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  background-color: #2b2f32;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.menuItem > img,
.menuItem > a > img {
  margin-bottom: 10px;
  flex-grow: 1;
}

.menuItem > a {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
}

.closeBtn {
  padding: 5px 0;
}

.formHeader {
  font-size: 19px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

.telIcon {
  flex-shrink: 0;
  margin-bottom: 10px;
  margin-right: 6px;
}

.phoneBlock {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.88px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
}

.phoneNotice {
  opacity: 0.45;
  font-size: 11px;
  color: #ffffff;
  letter-spacing: 0.6px;
  font-weight: 800;
}

.tel {
  text-decoration: none;
  color: #fff;
}

.content {
  position: relative;
  height: 100%;
}

.footer {
  opacity: 0.21;
  font-size: 19px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
}
