.wrapper {
  position: fixed;
  height: calc(100vh - 82px);
  width: 100vw;
  top: 82px;
  left: 0;
  background: #fff;
  z-index: 100;
  padding: 0 20px;
  display: none;
}

.wrapper.visible {
  display: block;
}

.menuItems {
  list-style: none;
  margin: 0 auto 60px;
  padding: 0;
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.menuItem {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  font-family: "Gilroy", sans-serif;
  color: #353643;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: left;
  padding-left: 24px;
  margin-bottom: 40px;
}

.menuItem:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3dc383;
}

.menuItem:last-child {
  margin-bottom: 0;
}

.menuItem > img,
.menuItem > a > img {
  margin-bottom: 10px;
  flex-grow: 1;
}

.menuItem > a {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
}

.info {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  flex-grow: 1;
}

.textGreen {
  color: #3dc383;
}

.phone {
  height: 39px;
  background: #f8f8f8;
  color: inherit;
  border-radius: 40px;
  padding: 7px 7px 7px 20px;
  margin-top: 20px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
}

.phoneIcon {
  margin-left: 16px;
  width: 27px;
  height: 27px;
}

.content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.buttons {
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding: 0;
  z-index: 99;
}

.buttons .button {
  margin: 15px 15px 15px 0;
  overflow: hidden;
}

.button .buttonIcon {
  margin-right: 8px;
}
