.delivery {
  padding: 100px 0;
  background-color: #f8f8f8;
}

.deliveryContent {
  display: flex;
}

.deliveryImages {
  display: flex;
  align-items: center;
  width: calc(100% - 330px);
  position: relative;
  margin-right: 30px;
}

.deliveryListWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deliveryImageCar {
  max-width: 60%;
  margin-bottom: -30px;
}

.deliveryImageMap {
  max-width: 60%;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin-top: -20px;
}

.deliveryList {
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 300px;
  list-style-type: none;
}

.deliveryList li {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 32px;
}

@media all and (max-width: 767px) {
  .deliveryList {
    margin: 0 50px;
  }

  .deliveryList li {
    font-size: 16px;
    line-height: 1.15;
    padding-left: 24px;
  }

  .deliveryList li:before {
    width: 10px;
    height: 10px;
  }
}

.deliveryList li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3dc383;
}

.deliveryListTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
  text-align: center;
}

@media all and (max-width: 1200px) {
  .delivery {
    padding: 50px 0;
  }

  .deliveryImageCar {
    max-width: 70%;
    margin-bottom: 0;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .deliveryImageMap {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
  }
}

@media all and (max-width: 600px) {
  .deliveryContent {
    flex-direction: column;
  }

  .deliveryImages {
    width: 100%;
    margin-right: 0;
    margin-top: -50px;
    margin-bottom: 20px;
  }

  .deliveryListTitle {
    max-width: 250px;
    margin: 0 auto 30px;
    font-size: 20px;
  }

  .deliveryListWrap {
    align-items: center;
  }
}

.deliveryImageDesktop {
  display: none;
  max-width: 100%;
}

.deliveryImageMobile {
  display: block;
  max-width: 100%;
}

@media all and (min-width: 768px) {
  .deliveryImageDesktop {
    display: block;
    max-width: 100%;
  }

  .deliveryImageMobile {
    display: none;
  }
}
