.reviewsSection {
  overflow: hidden;
  background-color: var(--color-grey-light);
  padding: 34px 0 98px;
  position: relative;
}

.reviewsSection:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 40px solid var(--color-white);
  border-left: 98.8vw solid transparent;
}

.container {
  max-width: 910px;
}

.carouselItem,
.carouselItemImg {
  max-width: 300px;
  width: 100%;
}

@media all and (min-width: 1024px) {
  .reviewsSection {
    padding: 60px 0 80px;
  }

  .reviewsSection:after {
    display: none;
  }

  .carouselItem,
  .carouselItemImg {
    max-width: none;
  }
}
