.button {
  background: #ffffff;
  box-shadow: 0px 20px 40px -6px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  border: none;
  outline: none;
  text-decoration: none;
  height: 45px;
  padding: 12px 16px;
  display: inline-flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #353643;
  transition: 0.3s all;
  cursor: pointer;
  white-space: nowrap;
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

@media all and (min-width: 768px) {
  .button {
    height: 54px;
    padding: 20px 30px;
    font-size: 20px;
  }
}

.button[disabled] {
  cursor: default;
  pointer-events: none;
}

.button:hover,
.button:focus {
  box-shadow: none;
}

.button.buttomSm {
  height: 50px;
  padding: 15px 17px;
}

.button.noShadow {
  box-shadow: none;
}

.button.buttonBlock {
  width: 100%;
}

.button.buttonPrimary {
  background: #3dc383;
  color: #fcfcfc;
}

.button.buttonSecondary {
  background: #ff8f62;
  color: #fcfcfc;
}
