.calculatorSection {
  background-color: var(--color-grey-light);
  padding: 24px 0;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 920px;
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.formHeading {
  font-size: 28px;
  line-height: 1.1;
  margin: 50px 0 16px;
  text-align: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
  padding: 30px 20px;
}

.column {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.column.center {
  align-items: center;
}

.columnTitle {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
  max-width: 60%;
}

.button {
  font-size: 16px;
}

.growBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 16px;
}

.priceBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 14px;
  text-align: center;
}

.inputGroup {
  position: relative;
  width: 100%;
}

.inputGroupBtn {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--color-green);
  font-size: 16px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s all;
}

.inputGroupBtn:hover {
  opacity: 0.6;
}

.input {
  height: 55px;
  width: 100%;
  border: 1px solid #5f5f5f;
  border-radius: 5px;
  background-color: var(--color-white);
  padding: 16px 17px;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  transition: 0.2s all;
}

.input:focus,
.input[focus] {
  border-color: rgba(95, 95, 95, 0.6);
}

@media all and (min-width: 768px) {
  .formHeading {
    font-size: 30px;
    margin-top: 16px;
  }

  .calculatorSection {
    padding: 80px 0 140px;
  }

  .calculatorSection:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 80px solid var(--color-white);
    border-right: 98.8vw solid transparent;
  }

  .title {
    margin-bottom: 80px !important;
  }

  .calculator {
    flex-direction: row;
  }

  .column {
    flex: 1 0 50%;
  }

  .column:last-child {
    border-left: 1px solid #ccc;
  }

  .columnTitle {
    max-width: none;
  }
}

@media all and (min-width: 1024px) {
  .calculator {
    padding: 0;
  }

  .column {
    padding: 50px 10px 38px 50px;
  }

  .column:first-child {
    padding-left: 40px;
  }

  .priceBox {
    padding-right: 80px;
  }

  .price {
    margin: 0 0 30px;
    padding: 23px 50px;
  }

  .inputGroup {
    position: relative;
    margin: 0 45px;
    width: calc(100% - 45px * 2);
  }

  .columnTitle {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .button {
    font-size: 20px;
  }

  .label {
    font-size: 20px;
  }

  .inputGroupBtn {
    font-size: 20px;
  }
}
