@import "./Gilroy/stylesheet.css";

@font-face {
  font-family: "Sketch-Block";
  src: url("./Sketch_Block.ttf");
  src: local("./Sketch-Block"), local("Sketch Block"),
    url("./Sketch_Block.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,300&display=swap");

/* for Blog */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
