:root {
  --color-white: #fff;
  --color-black: #1a1e20;
  --color-orange: #fa9744;
  --color-green: #2fa037;
  --color-body: var(--color-black);
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Gilroy", sans-serif;
  color: var(--color-body);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-white);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body main {
  position: relative;
  z-index: 2;
}

.sectionTitle {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 30px;
  color: inherit;
}

.sectionTitle.-light {
  color: var(--color-white);
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.visible-mobile,
#mobile-menu-link {
  display: none;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .visible-desktop {
    display: none !important;
  }

  .visible-mobile {
    display: block !important;
  }

  #mobile-menu-link {
    display: block;
  }
}

@media all and (min-width: 1024px) {
  .sectionTitle {
    font-size: 36px;
  }
}

.show {
  display: flex;
}

.hide {
  display: none;
}
