.about {
  background-color: var(--color-green);
  background-image: url("../../images/food-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 0 70px;
  position: relative;
  overflow: hidden;
}

.about:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 35px solid var(--color-white);
  border-right: 98.8vw solid transparent;
}

.title {
  text-align: left;
  padding-left: 23px;
}

.aboutList {
  margin: 0;
  padding: 0;
}

.aboutList li {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: initial;
  color: #e5e5e5;
}

.aboutList li:before {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background: url("./icons/icon-check.svg") center no-repeat;
  background-size: cover;
}

.aboutOptions {
  display: grid;
  grid-template-columns: repeat(4, 24%);
}

.aboutOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white);
  margin-bottom: 40px;
}

.aboutOptionImg {
  max-width: 100px;
  display: block;
  margin: 0 auto 22px;
}

.aboutOptionTitle {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.container {
  max-width: 882px;
}

@media all and (min-width: 415px) {
  .title {
    padding-left: 0;
    text-align: center;
  }
}

@media all and (min-width: 768px) {
  .about {
    background-image: url("../../images/food-bg-desktop.png");
    padding: 60px 0;
  }

  .about:after {
    display: none;
  }

  .title {
    font-size: 36px;
  }
}

@media all and (min-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}
