.program {
  padding: 40px 0;
}

.title {
  /**/
}

.tabs {
  /**/
}

.tab {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 26px;
  border-radius: 10px;
  margin: 0 0 0 18px;
  background-color: var(--color-white);
  font-weight: 600;
  outline: none;
  box-shadow: none;
  transition: 0.3s all;
  vertical-align: top;
}

.tab:first-child {
  margin-left: 30px;
}

.tabSelected {
  border: 3px solid var(--color-green);
}

.tabTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-green);
  margin: 30px 0 0;
  white-space: initial;
}

.tabImg {
  max-height: 90px;
  max-width: 90px;
}

.tabPanel {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabsNav {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 48px 0 30px;
  padding: 0 30px;
}

.tabsContent {
  padding: 0 30px;
}

.tabsContentTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

.tabsContentText {
  text-align: center;
  line-height: 1.2;
  margin-bottom: 40px;
}

.button {
  height: 50px;
  padding: 14px 53px 17px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  background-color: var(--color-white);
  color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

@media all and (min-width: 1024px) {
  .tabsContentTitle {
    color: var(--color-green);
  }

  .tabImg {
    max-height: 120px;
    max-width: 120px;
  }

  .tabsContentText {
    max-width: 30%;
    height: 57px;
  }

  .tabsContentText > span {
    font-weight: 500;
    color: var(--color-green);
  }

  .button {
    height: 55px;
    padding: 14px 73px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media all and (min-width: 1200px) {
  .program {
    padding: 100px 0 44px;
  }

  .tab {
    width: 260px;
    height: 260px;
    margin-left: 48px;
    border-width: 2px;
  }

  .tab:first-child {
    margin-left: 0;
  }

  .tabSelected {
    transform: scale(1.125);
    border-width: 3px;
  }

  .tabSelected .tabsContentTitle {
    transform: none;
  }

  .tabsNav {
    text-align: center;
    padding: 50px;
  }
}
