.foodCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  position: relative;
}

.foodCardTop {
  position: relative;
  margin: auto;
}

.foodCardImg {
  max-width: 100%;
}

.foodCardBody {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.foodCardTitle {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  flex-grow: 1;
}

.foodCardList {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.foodCardList li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f8f8f8;
  /* border: 1px solid #ff8f62; */
  color: #ff8f62;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.foodCardList li + li {
  margin-top: 40px;
}

.foodCardList li .title {
  color: initial;
}

.foodCardList li:first-child {
  /* border: 1px solid #3dc383; */
  color: #3dc383;
}

.foodCardList li:nth-child(2) {
  margin-left: -30px;
}

.foodCardList li:nth-child(3) {
  margin-left: -30px;
}

.foodCardList li .title {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
}

@media all and (min-width: 600px) and (max-width: 767px) {
  .foodCard {
    margin: 0 8px;
  }
}

@media all and (min-width: 768px) {
  .foodCard {
    height: 830px;
    min-width: 830px;
  }

  .foodCardTitle {
    font-size: 18px;
  }

  .foodCardList li {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }

  .foodCardList li .title {
    font-size: 16px;
  }
}
