.blockWrap {
  display: flex;
  flex-direction: column;
  max-width: 860px;
  margin: 0 auto;
}

.col {
  flex: 1 0 100%;
  flex-direction: column;
  text-align: center;
  display: none;
}

.title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
}

.info {
  color: var(--color-white);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

.calcSection:before,
.calcSection:after {
  display: none;
}

.img {
  margin-right: -30px;
}

.mobContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

@media all and (min-width: 768px) {
  .mobContent {
    display: none;
  }

  .blockWrap {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .firstCol {
    align-items: flex-start;
    padding-right: 40px;
  }

  .col {
    flex: 1 0 50%;
    display: flex;
  }

  .info {
    text-align: left;
  }

  .title {
    font-size: 20px;
    line-height: 24px;
  }
}
