.preHeader {
  background-color: var(--color-orange);
  padding: 5px 0 5px;
  color: white;
  width: 100%;
}

.preHeaderInner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.preHeaderInnerMobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
