.slick-arrow.slick-prev:before,
.slick-arrow.slick-next:before {
  display: none;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-prev:hover,
.slick-arrow.slick-prev:focus,
.slick-arrow.slick-prev:active {
  background: var(--color-white) url("./icons/slider-control-left.svg") center
    no-repeat;
  background-size: auto;
}

.slick-arrow.slick-next,
.slick-arrow.slick-next:hover,
.slick-arrow.slick-next:focus,
.slick-arrow.slick-next:active {
  background: var(--color-white) url("./icons/slider-control-right.svg") center
    no-repeat;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  opacity: 1;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  width: 24px;
  height: 77px;
  z-index: 3;
}

.slick-arrow.slick-prev {
  left: 0px;
}

.slick-arrow.slick-next {
  right: 0px;
}

.slick-slider .slick-list {
  margin: 0 20px;
  overflow: hidden;
}

.slick-slider .slick-slide,
.slick-slide * {
  outline: none;
}

.slick-center {
  transform: scale(1.25);
}

@media all and (min-width: 1440px) {
  .reviews-carousel .slick-arrow.slick-prev {
    left: -123px !important;
  }

  .reviews-carousel .slick-arrow.slick-next {
    right: -123px !important;
  }
}

@media all and (max-width: 767px) {
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    top: 100px;
    display: none !important;
  }

  .slick-arrow.slick-prev {
    left: -10px;
  }

  .slick-arrow.slick-next {
    right: -10px;
  }
}

.slick-dots {
  bottom: -76px !important;
}

.reviews-carousel .slick-dots {
  bottom: -40px !important;
}

.slick-dots li {
  margin: 0 12px 0 0 !important;
}

.slick-dots li button {
  width: 14px !important;
  height: 14px !important;
  background-color: #f3f3f3 !important;
  padding: 0 !important;
  border-radius: 50% !important;
  margin-right: 0 !important;
}

.slick-dots li button:before {
  display: none !important;
}

.slick-dots li.slick-active button {
  background-color: #3dc383 !important;
}

@media all and (min-width: 768px) {
  .slick-arrow.slick-prev {
    left: -16px;
  }

  .slick-arrow.slick-next {
    right: -16px;
  }
}

@media all and (min-width: 1200px) {
  .slick-arrow.slick-prev,
  .slick-arrow.slick-prev:hover,
  .slick-arrow.slick-prev:focus,
  .slick-arrow.slick-prev:active {
    background: var(--color-white) url("./icons/slider-control-left.svg") center
      no-repeat !important;
    background-size: auto;
  }

  .slick-arrow.slick-next,
  .slick-arrow.slick-next:hover,
  .slick-arrow.slick-next:focus,
  .slick-arrow.slick-next:active {
    background: transparent url("./icons/slider-control-right.svg") center
      no-repeat !important;
    background-size: auto;
  }

  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    width: 123px !important;
    height: 123px !important;
    border-radius: 50%;
  }

  .slick-arrow.slick-prev {
    left: -40px;
  }

  .slick-arrow.slick-next {
    right: -40px;
  }
}
