.hero {
  padding: 8px 0 100px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wave {
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: url("./images/wave-desktop.png") center no-repeat;
  background-size: cover;
}

.waveMobile {
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: url("./images/wave-mobile.png") center no-repeat;
  background-size: cover;
}

.foodMask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("./images/mobile-food.png") center no-repeat;
  background-size: cover;
}

.heroMobile {
  padding: 0 0 100px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: url("./images/mobile-bg.jpg") center no-repeat;
  background-size: cover;
}

.btnTop {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.titleMobile {
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #1a1e20;
  padding: 10px;
  border-bottom: 7px solid var(--color-green);
  width: 290px;
  margin: 0 auto 24px;
  background-color: var(--color-white);
}

.titleMobile .green {
  color: var(--color-green);
}

.title {
  color: var(--color-white);
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
}

.heroForm {
  width: 100%;
  max-width: 226px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.heroPrice {
  background: var(--color-white);
  border-radius: 2px;
  border-bottom: 8px solid var(--color-green);
  font-weight: 700;
  font-size: 44px;
  line-height: 36px;
  color: var(--color-orange);
  width: 200px;
  text-align: center;
  padding: 8px;
}

.heroPrice > .oldPrice {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #5f5f5f;
  position: relative;
  display: inline-block;
}

.heroPrice > .oldPrice:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 3px;
  width: 100%;
  background-color: var(--color-green);
}

.heroPrice span {
  font-weight: 300;
}

.heroPriceMobile {
  background: var(--color-white);
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: var(--color-orange);
  text-align: center;
  padding: 10px;
  margin: 0 0 20px;
}

.oldPriceMobile {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  position: relative;
  margin: 0 auto 32px;
}

.heroPriceMobile > .oldPrice:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 3px;
  width: 100%;
  background-color: var(--color-green);
}

.oldPriceMobile .green {
  color: var(--color-green);
}

.heroPriceMobile span {
  font-weight: 300;
}

.offersContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 500px);
  background-color: var(--color-grey);
  background: url("./images/food-bg.jpg") center no-repeat;
  background-size: cover;
}

.offersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.offersListItem {
  height: 134px;
  width: 270px;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #1a1e20;
  border-radius: 0 0 6px 6px;
  background-color: var(--color-white);
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.offersListItemBody {
  padding: 4px 20px;
}

.offersListItemHeader {
  height: 48px;
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}

.offersListMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offersListMobileTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 32px;
  color: var(--color-white);
}

.offersListMobileItem {
  height: 120px;
  width: 226px;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #1a1e20;
  background-color: var(--color-white);
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

.offersListMobileItemIcon {
}

.heroFormWrapper {
  padding: 40px 36px;
}

@media all and (min-width: 768px) {
  .hero {
    height: 770px;
    flex-direction: row;
    background-position: cover;
    padding: 0;
  }

  .heroForm {
    width: 350px;
    max-width: none;
    padding: 50px 20px 100px;
    margin: 0 auto;
    background-color: var(--color-green);
    background: url("./images/green-gradient-bg.png") center no-repeat;
    background-size: cover;
  }

  .offersContent {
    flex-grow: 1;
  }

  .heroPrice {
    margin: 80px auto 40px;
  }
}

@media all and (min-width: 1025px) {
  .heroForm {
    width: 500px;
    padding: 50px 50px 100px;
  }

  .title {
    font-weight: 300;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 80px;
  }

  .heroPrice {
    margin: 120px auto 40px;
  }
}

@media all and (min-width: 1200px) {
  .hero {
    height: 670px;
  }

  .heroForm {
    margin: 0 auto;
  }

  .offersListItem:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}
