.section {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.container {
  /* padding: 0; */
}

.tabsTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 0 24px; */
  margin: 32px auto 0;
  max-width: 860px;
}

.tab {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 22px;
  width: 160px;
  height: 85px;
  padding: 13px 13px 20px;
  background-color: #ffffff;
  border-radius: 40px;
  margin-right: 12px;
}

.tab:last-child {
  margin-right: 0;
}
.tab.active {
  box-shadow: 0px 20px 30px -6px rgba(134, 134, 134, 0.3);
}

.tab.active .tabTitle {
  /* color: var(--color-green); */
}

.tabTitle {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  color: #353643;
}

.tabImgWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 40px;
  flex-grow: 1;
  margin-bottom: 4px;
}

.tabImg {
  max-width: 100%;
}

.tabsContent {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1058px;
}

.listItem {
  padding: 11px 14px 1px;
  position: relative;
  background: #fdfdfd;
  border-radius: 20px;
  margin-bottom: 12px;
  transition: all 0.3s;
}

.listItem[opened="true"] {
  padding-top: 13px;
  box-shadow: 0px 10px 30px -6px rgba(0, 0, 0, 0.1);
}

.listTitle {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  position: relative;
  margin-bottom: 11px;
  cursor: pointer;
  padding-left: 26px;
}

.listTitle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("./icons/faq-icon.svg") center no-repeat;
  background-size: cover;
}

.listTitle:hover {
  opacity: 0.8;
}

.listTitle > img {
  display: none;
}

.listText {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 11px;
  color: #636465;
}

@media all and (min-width: 1024px) {
  .section {
    padding: 100px 0;
  }

  .container {
    padding: 0 16px;
  }

  .tabsTop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 0 24px; */
    margin-top: 0;
  }

  .tabsContent {
    margin-top: 60px;
  }

  .tab {
    width: 195px;
    height: 124px;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .tabImgWrap {
    justify-content: flex-start;
  }

  .tabTitle {
    font-size: 18px;
  }

  .tabImgWrap {
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-bottom: 0;
  }

  .listItem {
    padding: 11px 38px 1px;
  }

  .listTitle > img {
    display: inline-block;
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translate(0, -40%);
  }

  .listTitle {
    font-size: 18px;
    padding-right: 65px;
  }

  .listTitle:before {
    top: 4px;
  }

  .listText {
    font-size: 18px;
    padding-right: 65px;
  }
}
