.hero {
  padding: 40px 0;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.heroMobile {
  padding: 40px 0;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.heroMobileImg {
  overflow: hidden;
  width: 100%;
  margin-bottom: 48px;
}

.btnShowMore {
  background-color: var(--color-green) !important;
  border-color: var(--color-green) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: calc(100% - 60px);
}

.btnTop {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  bottom: 32px;
  right: 32px;
  z-index: 2;
  background-color: grey;
}

.titleMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleMobile .green {
  color: var(--color-green);
}

.title {
  /* color: var(--color-white); */
  display: flex;
  flex-direction: column;
}

.titlePart1 {
  font-weight: 700;
  font-size: 50px;
  color: var(--color-green);
  line-height: 1;
  margin-top: 8px;
  white-space: nowrap;
  text-align: center;
}

.titlePart2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
}

.titleIcon {
  width: 130px;
}

.heroForm {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.heroPrice {
  background: var(--color-white);
  border-radius: 2px;
  border-bottom: 8px solid var(--color-green);
  font-weight: 700;
  font-size: 44px;
  line-height: 36px;
  color: var(--color-orange);
  width: 200px;
  text-align: center;
  padding: 8px;
}

.heroPrice > .oldPrice {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #5f5f5f;
  position: relative;
  display: inline-block;
}

.heroPrice > .oldPrice:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  height: 3px;
  width: 100%;
  background-color: var(--color-green);
}

.heroPrice span {
  font-weight: 300;
}

.heroPriceMobile {
  background: var(--color-white);
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: var(--color-orange);
  text-align: center;
  padding: 10px;
  margin: 0 0 80px;
}

.oldPriceMobile {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  position: relative;
  margin: 0 auto 32px;
}

.oldPriceMobile:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  height: 3px;
  width: 100%;
  background-color: var(--color-green);
}

.oldPriceMobile .green {
  color: var(--color-green);
}

.heroPriceMobile span {
  font-weight: 300;
}

.offersContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey);
  max-width: 1460px;
}

.offersList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.offersListItem {
  height: 116px;
  width: 154px;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 24px;
}

.offersListItem:last-child {
  margin-right: 0;
}

.offersListItemBody {
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
}

.offersListItemHeader {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./images/ny-decoration.svg") center no-repeat;
  background-size: 100%;
  /* border-bottom: 1px solid var(--color-white); */
}

.offersListMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offersListMobileItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 295px;
  margin-bottom: 40px;
}

.offersListMobileItem {
  height: 116px;
  width: 154px;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 24px;
  padding: 10px;
}

.offersListMobileItemInfo {
  font-size: 24px;
  color: #424242;
  font-weight: 700;
}

.offersListMobileItemPrice {
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
}

.red {
  background-color: #c40000;
}

.green {
  background-color: var(--color-green);
}

.offersListMobileItemIcon {
}

.heroFormWrapper {
  padding: 40px 36px;
}

.desc {
  height: 330px;
  overflow: hidden;
  transition: 0.5s all;
}

.descHidden {
  height: 0;
}

@media all and (min-width: 992px) {
  .hero {
    height: 770px;
    flex-direction: row;
    background-position: cover;
    padding: 0;
  }

  .offersList {
    flex-direction: row;
    margin-top: 24px;
  }

  .heroForm {
    width: 350px;
    max-width: none;
    padding: 50px 10px 100px;
    margin: 0 auto;
  }

  .title {
    margin-bottom: 40px;
  }

  .offersContent {
    flex-grow: 1;
    flex-shrink: 0;
    width: calc(100% - 500px);
    height: auto;
  }

  .heroPrice {
    margin: 80px auto 40px;
  }
}

@media all and (min-width: 992px) {
  .hero {
    height: 650px;
  }

  .offersList {
    align-items: flex-start;
  }
}

@media all and (min-width: 1025px) {
  .hero {
    height: 800px;
  }

  .heroForm {
    width: 550px;
    padding: 70px 40px 100px 65px;
  }

  .titlePart1 {
    font-size: 80px;
    text-align: left;
  }

  .titlePart2 {
    font-size: 56px;
    text-align: left;
  }

  .heroPrice {
    margin: 120px auto 40px;
  }

  .offersListMobileItemWrapper {
    margin-bottom: 0;
  }
}

@media all and (min-width: 1200px) {
  .hero {
    height: 670px;
  }

  .heroForm {
    margin: 0 auto;
  }

  .offersListItem:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}
