:root {
  --md-radio-checked-color: var(--color-green);
  --md-radio-border-color: rgba(0, 0, 0, 0.54);
  --md-radio-size: 20;
  --md-radio-checked-size: 10;
  --md-radio-ripple-size: 15px;
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px var(--md-radio-ripple-size) rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px var(--md-radio-ripple-size) rgba(0, 0, 0, 0);
  }
}

.title {
  margin-bottom: 36px !important;
}

.radio {
  margin: 8px 0;
}

.radioBtns3,
.radioBtns2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radioBtns3 > .radioBtn {
  flex: 1 0 31.5%;
  max-width: 31.5%;
}

.radioBtns2 > .radioBtn {
  flex: 1 0 48%;
  max-width: 48%;
}

.radio.radioBtn {
  margin: 0;
}

.radio.radioBtn label {
  height: 45px;
  max-width: 100%;
  width: 100%;
  border: 1px solid #5f5f5f;
  border-radius: 5px;
  padding: 11px 8px 13px;
  text-align: center;
}

.radio.radioBtn label:before,
.radio.radioBtn label:after {
  display: none;
}

.radio.radioBtn input[type="radio"]:checked + label {
  border-color: var(--color-green);
  color: var(--color-green);
}

.radio input[type="radio"] {
  display: none;
}

.radio input[type="radio"]:checked + label:before {
  border-color: var(--md-radio-checked-color);
  animation: ripple 0.2s linear forwards;
}
.radio input[type="radio"]:checked + label:after {
  transform: scale(1);
}

.radio label {
  display: inline-block;
  min-height: calc(var(--md-radio-size) * 1px);
  position: relative;
  padding: 0 16px 0 calc((var(--md-radio-size) + 10) * 1px);
  padding: 0;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}

.radio label:before,
.radio label:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: all 0.3s ease;
  transition-property: transform, border-color;
  box-sizing: border-box;
}
.radio label:before {
  left: 0;
  top: 0;
  width: calc(var(--md-radio-size) * 1px);
  height: calc(var(--md-radio-size) * 1px);
  border: 2px solid var(--md-radio-border-color);
}
.radio label:after {
  top: calc(
    (var(--md-radio-size) / 2 - var(--md-radio-checked-size) / 2) * 1px
  );
  left: calc(
    (var(--md-radio-size) / 2 - var(--md-radio-checked-size) / 2) * 1px
  );
  width: calc(var(--md-radio-checked-size) * 1px);
  height: calc(var(--md-radio-checked-size) * 1px);
  transform: scale(0);
  background: var(--md-radio-checked-color);
}
@media all and (min-width: 768px) {
  .radio {
    display: inline-block;
  }
}
