:root {
  --md-radio-checked-color: var(--color-green);
  --md-radio-border-color: rgba(0, 0, 0, 0.54);
  --md-radio-size: 20;
  --md-radio-checked-size: 10;
  --md-radio-ripple-size: 15px;
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px var(--md-radio-ripple-size) rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px var(--md-radio-ripple-size) rgba(0, 0, 0, 0);
  }
}

.title {
  margin-bottom: 36px !important;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radio {
  margin: 8px 0;
}

.radioBtns3,
.radioBtns2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radioBtns3 > .radioBtn {
  flex: 1 0 31.5%;
  max-width: 31.5%;
}

.radioBtns2 > .radioBtn {
  flex: 1 0 48%;
  max-width: 48%;
}

.radio.radioBtn {
  margin: 0;
}

.radio.radioBtn label {
  height: 60px;
  max-width: 100%;
  width: 100%;
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  color: #353643;
  border-radius: 20px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

.radio.radioBtn.disabled label {
  pointer-events: none;
  opacity: 0.5;
}

.radio.radioBtn label:before,
.radio.radioBtn label:after {
  display: none;
}

.radio.radioBtn:not(.withImg) input[type="radio"]:checked + label {
  border-color: #3dc383;
  background-color: #3dc383;
  color: var(--color-white);
  font-weight: 600;
  padding-left: 24px;
}

.radio.radioBtn.withImg {
  margin-right: 16px;
}

.radio.radioBtn .img {
  margin-right: 12px;
}

.radio.radioBtn.withImg:last-child {
  margin-right: 0;
}

.radio.radioBtn.withImg label {
  background-color: var(--color-white);
  color: var(--color-green);
  border-color: #c4c4c4;
  height: 100px;
  width: 100px;
  padding: 13px 4px;
  flex-direction: column;
}

.radio.radioBtn.withImg input[type="radio"]:checked + label {
  background-color: transparent;
  border-color: var(--color-green);
  color: var(--color-green);
  font-weight: 500;
}

.radio.radioBtn.withImg input[type="radio"]:checked + label:before {
  display: none;
}

.radio input[type="radio"] {
  display: none;
}

.radio input[type="radio"]:checked + label:before {
  border-color: var(--md-radio-checked-color);
  animation: ripple 0.2s linear forwards;
}
.radio input[type="radio"]:checked + label:after {
  transform: scale(1);
}

.radio.withImg {
}

.radioImg {
  max-height: 48px;
  display: block;
  margin: 0 auto 8px;
}

.radioGroup {
  padding: 24px 10px;
  border-radius: 20px;
  background-color: #f8f8f8;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
}

.radioGroup .radioPanel {
  background: linear-gradient(90deg, #51d395 0%, #2eb474 100%);
  border-radius: 20px;
  padding: 3px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radioGroup .radioPanel label {
  background-color: transparent;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  height: 27px;
  border: none;
}

.radioGroup .radioPanel input[type="radio"]:checked + label {
  background-color: #fff !important;
  color: #353643 !important;
  padding-left: 10px !important;
}

.radioLines {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.radioLines input[type="radio"] {
  display: none;
}

.radioLines label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radioLine {
  width: 25%;
}

.radioLines label {
  text-align: center;
}

.radioLines label .text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 8px;
}

.radioLines label .line {
  position: relative;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f8f8f8;
  border: 4px solid #f8f8f8;
  box-sizing: content-box;
}

.radioLines label .line:before,
.radioLines label .line:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 4px;
  top: 3px;
  background-color: #f8f8f8;
}

.radioLines label .line:before {
  right: calc(100% + 4px);
}

.radioLines label .line:after {
  left: calc(100% + 4px);
}

.radioLines input[type="radio"]:checked + label .line {
  border-color: #3dc383;
  background-color: #fff;
}

.radio label {
  display: inline-block;
  min-height: calc(var(--md-radio-size) * 1px);
  position: relative;
  padding: 0 16px 0 calc((var(--md-radio-size) + 10) * 1px);
  padding: 0;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}

.radio label:before,
.radio label:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: all 0.3s ease;
  transition-property: transform, border-color;
  box-sizing: border-box;
}
.radio label:before {
  left: 0;
  top: 0;
  width: calc(var(--md-radio-size) * 1px);
  height: calc(var(--md-radio-size) * 1px);
  border: 2px solid var(--md-radio-border-color);
}
.radio label:after {
  top: calc(
    (var(--md-radio-size) / 2 - var(--md-radio-checked-size) / 2) * 1px
  );
  left: calc(
    (var(--md-radio-size) / 2 - var(--md-radio-checked-size) / 2) * 1px
  );
  width: calc(var(--md-radio-checked-size) * 1px);
  height: calc(var(--md-radio-checked-size) * 1px);
  transform: scale(0);
  background: var(--md-radio-checked-color);
}

@media all and (min-width: 768px) {
  .radio {
    display: inline-block;
  }
  .radioLines label .line:before,
  .radioLines label .line:after {
    width: 90px;
  }
}

@media all and (max-width: 767px) {
  .radioBtns3 {
    /* flex-direction: column; */
  }
  .radioBtns2 {
    flex-direction: column;
  }
  /* .radioBtns3 > .radioBtn {
    flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: 16px;
  } */
  .radioBtns2 > .radioBtn {
    flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }
  .radioBtns3 > .radioBtn:last-child {
    margin-bottom: 0;
  }
  .radioBtns3 > .radioBtn label {
    flex-direction: column;
    font-size: 14px;
    padding: 13px 14px 10px !important;
  }
  .radioBtns3 > .radioBtn {
    height: 62px;
  }
  .radioBtns3 > .radioBtn label .img {
    margin-right: 0;
    max-width: 30px;
  }
  .radio.radioBtn:not(.withImg) input[type="radio"]:checked + label {
    padding-left: initial;
  }
  .radio.radioBtn input[type="radio"]:checked + label:before {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
  .radioGroup .radioPanel label,
  .radioLines label .text {
    font-size: 14px;
  }
}
