.heroTitle {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  background: linear-gradient(91.97deg, #555661 -2.97%, #353643 94.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroInner {
  display: flex;
  flex-direction: column;
}

.heroInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heroCarousel {
  min-width: 320px;
  width: 100%;
  min-height: 320px;
  position: relative;
}

.heroCarouselHiddenText {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

@media all and (min-width: 1024px) {
  .heroTitle {
    font-size: 80px;
    line-height: 100px;
    text-align: left;
  }

  .heroInner {
    display: flex;
    flex-direction: row;
  }

  .heroCarouselWrapper {
    margin-left: 6%;
    /* padding-right: 85px; */
  }

  .heroCarousel {
    max-width: 830px;
    width: 100%;
  }
}

@media all and (max-width: 1919px) {
  .hero {
    height: auto !important;
  }
}

@media all and (min-width: 1920px) {
  .hero {
    height: 880px;
  }

  .heroCarousel {
    min-width: 830px;
  }
}

.buttons {
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  z-index: 99;
}

.buttons .button {
  margin: 15px 15px 15px 0;
  overflow: hidden;
}

.button .buttonIcon {
  margin-right: 8px;
}

@media all and (min-width: 1024px) {
  .buttons {
    display: flex;
    margin-top: 45px;
    justify-content: flex-start;
    position: relative;
    background-color: transparent;
    padding: 0;
    z-index: unset;
  }
}
