:root {
  --gradient: linear-gradient(
    90deg,
    var(--color-orange) 0px,
    #f1862e 40px,
    var(--color-orange) 80px
  );
  --animation: shine 1.6s infinite linear;
}

@keyframes shine {
  0% {
    background-position: -80px;
  }
  100% {
    background-position: 200px;
  }
}

.wrapper {
  overflow-x: hidden;
}

.hero {
  height: 730px;
  /* background: url("./images/hero-bg-desktop.jpg") center no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  z-index: 1;
}

.heroContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.title {
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #1a1e20;
}

.title.XS {
  display: block;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  height: 70px;
  background: #fa9744;
}

.title.LG {
  display: none;
}

@media all and (min-width: 768px) {
  .title.XS {
    display: none;
  }

  .title.LG {
    display: block;
  }
}

.list {
  margin: 0 0 48px;
  padding: 0;
}

.list li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 28px;
  position: relative;
  margin-bottom: 14px;
}

.list li:last-child {
  margin-bottom: 0;
}

.list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: url("./images/check-icon.svg") center no-repeat;
  background-size: cover;
  width: 12px;
  height: 9px;
  display: inline-block;
}

.heroList.list {
  position: relative;
  padding: 20px 20px 20px 0;
  margin-left: -30px;
  border-top-right-radius: 34px;
  background-color: #fcfcfc;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.heroList.list::after {
  content: "";
  width: 20vw;
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  background-color: #fcfcfc;
}

.heroBtn {
  max-width: 280px;
  width: 280px;
  background-image: var(--gradient);
  animation: var(--animation);
  background-size: 280px;
  box-shadow: 20px 20px 20px rgba(250, 151, 68, 0.2);
}

.heroContent {
  max-width: 460px;
  width: 100%;
}

.heroImg {
  max-width: 375px;
  width: 100%;
}

.postHero {
  color: var(--color-white);
  padding: 32px 0;
}

.postHeroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 80px;
}

.postHeroItem {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 33.3333%;
}

.postHeroItemTitle {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 16px;
}

.menuSection {
  padding: 70px 0;
}

.menuSectionTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 48px;
}

.menuSectionItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

@media all and (min-width: 1024px) {
  .menuSectionItem {
    flex-direction: row;
  }
}

.menuSectionItem:last-child {
  margin-bottom: 0;
}

.menuSectionItemHeading {
  position: relative;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-right: 40px;
  width: 55%;
  background-color: #eaeff1;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

@media all and (min-width: 1024px) {
  .menuSectionItemHeading {
    height: 98px;
    width: 80px;
    align-items: center;
    padding: 10px 20px;
  }

  .menuSectionItemHeading span {
    transform: rotate(-90deg);
    margin-right: -30px;
  }
}

.menuSectionItemHeading::after {
  content: "";
  width: 20vw;
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  background-color: #eaeff1;
}

.menuSectionItemHeading.lightBg,
.menuSectionItemHeading.lightBg::after {
  background-color: #faf7f4;
}

/* .menuSectionItemHeading::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  background: transparent
    linear-gradient(
      to right,
      hsla(124, 55%, 41%, 0) 0%,
      hsla(124, 55%, 41%, 0.75) 50%,
      hsla(124, 55%, 41%, 0) 100%
    );
} */

.menuSectionItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}

.menuSectionItemContainer > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 50%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.menuSectionItemContainer > * > * {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.menuSectionItemContainer > * i {
  font-weight: 300;
}

.textIcon {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  padding-left: 44px;
}

.textIcon > .icon {
  position: absolute;
  left: 0;
  top: 0;
}

.menuSectionItemText {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.menuSectionItemValue {
  width: 33px;
  height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 15px;
  background-color: #eeeff0;
}

.menuSectionItemValue.lightBg {
  background-color: #faf7f5;
}

.section4top {
  padding: 80px 0 40px;
  background-color: #eaeff1;
}

.section4bottom {
  padding: 0 0 80px;
}

@media all and (max-width: 767px) {
  .hero {
    overflow: hidden;
    height: auto;
  }

  .heroContainer {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .list.heroList {
    padding: 10px 0;
    box-shadow: none;
    margin: 0;
  }

  .heroContent {
    padding: 0 16px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroContainer .heroImg {
    order: 2;
  }

  .heroContainer .title {
    order: 1;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #1a1e20;
    text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    margin: 0;
  }

  .heroContainer .list {
    order: 3;
    margin-bottom: 20px;
  }

  .heroContainer .list li {
    font-weight: 600;
  }

  .heroContainer .heroBtn {
    order: 4;
    margin: 0 auto;
  }

  .postHeroContainer {
    justify-content: center;
    padding: 0 15px;
  }

  .postHeroContainer {
    padding: 0;
  }

  .postHeroItemTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 0 4px;
  }

  .menuSection {
    padding: 54px 0 0;
  }

  .menuSectionTitle {
    margin-bottom: 40px;
  }

  .menuSectionItemHeading::after {
    background: var(--color-green);
  }

  .menuSectionItemHeading {
    max-width: calc(50% + 16px);
    text-align: right;
    font-size: 20px;
    line-height: 23px;
    margin-left: -16px;
    margin-bottom: 20px;
  }

  .menuSectionItemContainer > * {
    flex: 1 0 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .menuSectionItemContainer > * > * {
    min-height: auto;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 8px 16px;
    margin: 0 -16px;
  }

  .menuSectionItemContainer > * > *:last-child {
    padding: 20px 16px;
  }

  .menuSectionItemContainer {
    flex-direction: column;
    justify-content: start;
  }

  .menuSectionItemText {
    font-size: 12px;
    line-height: 24px;
  }

  .menuSectionItemValue {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    margin: 0 13px;
  }

  .icon {
    margin-top: -2px;
  }

  .section4top {
    padding: 32px 0;
    background-color: #eaeff1;
  }

  .section4topText {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
  }

  .section4topTitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 14px;
  }

  .section4bottom {
    padding: 14px 0 36px;
  }
}

@media all and (min-width: 768px) {
  .list li {
    font-size: 20px;
    margin-bottom: 12px;
    padding-left: 32px;
  }

  .list li:before {
    width: 14px;
    height: 12px;
  }
}

@media all and (min-width: 1024px) {
  .title,
  .list {
    max-width: 420px;
  }

  .list {
    margin-bottom: 60px;
  }

  .title {
    margin-bottom: 48px;
  }

  .heroContainer {
    justify-content: space-between;
    padding: 0 80px;
  }

  .heroImg {
    max-width: none;
    z-index: 1;
    margin-right: -60px;
  }
}

@media all and (min-width: 1280px) {
  .heroContainer {
    padding: 0 16px;
  }
}
