.section {
  padding: 40px 0 60px;
  background-color: var(--color-grey-middle);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.section:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 40px solid var(--color-grey-light);
  border-right: 98.8vw solid transparent;
}

.section:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 40px solid var(--color-grey-light);
  border-left: 98.8vw solid transparent;
}

.container {
  max-width: 710px;
}

.contactFormWrapper {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 32px;
  width: 100%;
  margin: 32px auto 20px;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
}

.contactFormInner {
  max-width: 320px;
  margin: 16px auto;
  text-align: center;
}

.contactFormTitle {
  font-size: 16px;
  text-align: center;
}

.formHeading {
  padding: 0 10px;
  font-size: 16px;
  color: var(--color-green);
}

.formNotice {
  font-size: 14px;
  line-height: 1.3;
}

@media all and (min-width: 1024px) {
  .section {
    padding: 80px 0 140px;
  }

  .section:after {
    display: none;
  }

  .section:before {
    border-bottom: 80px solid var(--color-grey-light);
    border-right: 98.8vw solid transparent;
  }

  .contactFormTitle {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }

  .formHeading {
    padding: 0 60px;
    font-size: 24px;
  }

  .formNotice {
    font-size: 20px;
    line-height: 1.3;
  }
}
