.langMenu {
  display: flex;
  flex-direction: column;
}

.langMenuItem {
  color: var(--color-white);
  opacity: 0.5;
  text-decoration: none;
}

.langMenuItem.isLight {
  color: var(--color-black);
}

.active {
  opacity: 1;
}
