.wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: var(--color-black);
  z-index: 3;
  padding: 0 20px;
}

.topBar {
  padding: 30px 0 10px;
  text-align: right;
}

.menuItems {
  list-style: none;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 37px;
  padding: 0;
}

.menuItem {
  padding: 13px 0;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

.closeBtn {
  padding: 5px 0;
}

.formHeader {
  font-size: 19px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

.telIcon {
  flex-shrink: 0;
  margin-bottom: 10px;
  margin-right: 6px;
}

.phoneBlock {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.88px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
}

.phoneNotice {
  opacity: 0.45;
  font-size: 11px;
  color: #ffffff;
  letter-spacing: 0.6px;
  font-weight: 800;
}

.tel {
  text-decoration: none;
  color: #fff;
}

.content {
  position: relative;
  height: 100%;
}

.footer {
  opacity: 0.21;
  font-size: 19px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
}
