.langMenu {
  display: flex;
  align-items: center;
}

.langMenuItem {
  color: var(--color-white);
  opacity: 0.5;
  text-decoration: none;
  display: flex;
  margin-right: 24px;
}

.langMenuItem:last-child {
  margin-right: 0;
}

.langMenuItem.isLight {
  color: var(--color-black);
}

.active {
  opacity: 1;
}
