.heroForm {
  width: 300px;
}

.button {
  width: 100%;
}

.inputField,
.input {
  border: none;
}

@media all and (max-width: 767px) {
  .heroForm {
    width: 100%;
    max-width: 226px;
  }
}

.termsContainer {
  font-size: 12px;
  margin-top: 10px;
  color: white;
}
