.mainForm {
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.mainForm.heroForm {
  padding: 24px;
}

.mainForm:not(.heroForm) > * {
  padding: 34px;
}

.mainForm:not(.heroForm) > *:last-child {
  background-color: #f8f8f2;
}

.mainFormWrap {
  display: flex;
  flex-direction: column;
}

.mainFormInfo {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909394;
  margin-top: 40px;
  text-align: center;
}

.inputField {
  padding: 0;
}

.inputFieldTitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 24px;
  text-align: center;
}

@media all and (min-width: 992px) {
  .mainForm.heroForm {
    padding: 40px 36px;
  }

  .mainForm:not(.heroForm) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mainForm:not(.heroForm) > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 34px;
  }
  .mainForm:not(.heroForm) > *:first-child {
    flex-grow: 1;
  }
  .mainForm:not(.heroForm) > *:last-child {
    flex: 1 0 324px;
    max-width: 324px;
    width: 100%;
    display: flex;
  }
  .inputField {
    padding: 0 16px;
  }
  .mainFormInfo {
    margin-bottom: 16px;
    text-align: initial;
  }
}

.mainFormTitle {
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

.mainFormBox {
  /**/
}

.buttons {
  text-align: center;
  margin-top: 30px;
  flex-grow: 1;
}

.submitButton {
  cursor: pointer;
  width: 100%;
}

@media all and (min-width: 768px) {
  .mainFormBox {
    max-width: 760px;
    margin: 0 auto;
  }
}
