.mainForm {
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.mainForm > * {
  padding: 34px;
}

.mainForm > *:last-child {
  background-color: #f8f8f2;
}

.inputFieldLabel {
  text-align: initial;
}

.inputFieldTitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin: 0 0 16px;
}

@media all and (min-width: 992px) {
  .mainForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mainForm > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 34px;
  }
  .mainForm > *:first-child {
    flex-grow: 1;
    max-width: 50%;
  }
  .mainForm > *:last-child {
    flex: 1 0 324px;
    max-width: 50%;
    width: 100%;
    display: block;
  }
}

.mainFormTitle {
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

.mainFormBox {
  /**/
}

.buttons {
  text-align: center;
  margin-top: 30px;
}

.submitButton {
  cursor: pointer;
  width: 100%;
}

@media all and (min-width: 768px) {
  .mainFormBox {
    /* max-width: 760px; */
    margin: 0 auto;
  }
}
