.mainForm {
  /* overflow: hidden; */
}

.mainForm.heroForm {
  padding: 24px;
}

.mainForm:not(.heroForm) > * {
  padding: 0;
}

.mainForm:not(.heroForm) > *:last-child {
  background-color: #f8f8f8;
}

.mainFormWrap {
  display: flex;
  flex-direction: column;
  padding: 16px !important;
  border-radius: 20px;
}

.mainFormInfo {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  flex-grow: 1;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputField {
  padding: 0;
}

.inputFieldLabel {
  display: none;
}

.inputFieldTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 20px;
  text-align: center;
}

.inputFieldRow {
  flex-direction: column;
}

.inputFieldColumn {
  margin-bottom: 16px !important;
}

@media all and (min-width: 992px) {
  .mainForm.heroForm {
    padding: 40px 36px;
  }

  .mainForm:not(.heroForm) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mainForm:not(.heroForm) > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 8%;
  }
  .mainForm:not(.heroForm) > *:first-child {
    flex-grow: 1;
  }
  .mainForm:not(.heroForm) > *:last-child {
    flex: 1 0 333px;
    max-width: 333px;
    width: 100%;
    display: flex;
  }
  .inputField {
    padding: 0 16px;
  }
  .inputFieldLabel {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: left;
  }
  .inputFieldTitle {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
  }
  .mainFormInfo {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
    text-align: initial;
  }
}

.mainFormTitle {
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

.mainFormBox {
  /**/
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.submitButton {
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
  padding: 10px 30px;
  display: inline-block;
}

.inputWrap {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.input {
  border-radius: 20px;
  height: 44px;
  border: none;
  padding-left: 40px;
}

@media all and (min-width: 768px) {
  .mainFormBox {
    /* max-width: 820px; */
    margin: 0 auto;
  }

  .buttons {
    margin-top: 20px;
  }

  .inputFieldRow {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .inputFieldColumn {
    flex-basis: 50%;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
}

.checkTerms {
  margin-bottom: 10px;
  display: flex;
}

.checkTerms input {
  /* height: 26px; */
  font-size: 36px;
  margin-right: 8px;
  border: 1px solid #2fa037;
  margin-top: 2px;
}

.checkTerms label {
  /* height: 26px; */
  font-size: 16px;
  line-height: 1.2;
  color: #353643;
  text-align: left;
}

.checkTerms label a {
  /* height: 26px; */
  font-size: 16px;
  color: #353643;
}
