.mainForm {
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
  /* overflow: hidden; */
}

.mainForm.heroForm {
  padding: 24px;
}

.mainForm:not(.heroForm) > * {
  padding: 34px;
}

.mainForm:not(.heroForm) > *:last-child {
  background-color: #f8f8f2;
}

.mainFormWrap {
  display: flex;
  flex-direction: column;
}

.mainFormInfo {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909394;
  margin-top: 40px;
  text-align: center;
}

.inputField {
  padding: 0;
}

.inputFieldLabel {
  display: none;
}

.inputFieldTitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 24px;
  text-align: center;
}

.inputFieldRow {
  flex-direction: column;
}

.inputFieldColumn {
  margin-bottom: 16px !important;
}

@media all and (min-width: 992px) {
  .mainForm.heroForm {
    padding: 40px 36px;
  }

  .mainForm:not(.heroForm) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mainForm:not(.heroForm) > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 34px;
  }
  .mainForm:not(.heroForm) > *:first-child {
    flex-grow: 1;
  }
  .mainForm:not(.heroForm) > *:last-child {
    flex: 1 0 324px;
    max-width: 324px;
    width: 100%;
    display: flex;
  }
  .inputField {
    padding: 0 16px;
  }
  .inputFieldLabel {
    display: block;
  }
  .mainFormInfo {
    margin-bottom: 16px;
    text-align: initial;
  }
}

.mainFormTitle {
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

.mainFormBox {
  /**/
}

.buttons {
  text-align: center;
  flex-grow: 1;
}

.submitButton {
  cursor: pointer;
  width: 100%;
}

@media all and (min-width: 768px) {
  .mainFormBox {
    max-width: 820px;
    margin: 0 auto;
  }

  .buttons {
    margin-top: 30px;
  }

  .inputFieldRow {
    flex-direction: row;
  }

  .inputFieldColumn {
    flex-basis: 50%;
    width: 50%;
    padding: 0 10px;
  }
}

.checkTerms input {
  /* height: 26px; */
  font-size: 36px;
  margin-right: 5px;
  border: 1px solid #2fa037;
}

.checkTerms label {
  /* height: 26px; */
  font-size: 12px;
  color: gray;
}

.checkTerms label a {
  /* height: 26px; */
  font-size: 12px;
  color: gray;
}
