.orderForm {
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.orderForm.heroForm {
  padding: 24px;
}

.orderForm:not(.heroForm) > * {
  padding: 34px;
}

.orderForm:not(.heroForm) > *:last-child {
  background-color: #f8f8f2;
}

.orderFormWrap {
  display: flex;
  flex-direction: column;
}

.orderFormInfo {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909394;
  margin-top: 40px;
  text-align: center;
}

.inputField {
  padding: 0;
}

.inputFieldLabel {
  display: none;
}

.inputFieldTitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 24px;
  text-align: center;
}

.inputFieldTitleSmall {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin: 0px 0 10px;
  text-align: center;
}

@media all and (min-width: 992px) {
  .orderForm.heroForm {
    padding: 40px 36px;
  }

  .orderForm:not(.heroForm) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .orderForm:not(.heroForm) > * {
    display: flex;
    flex-direction: column;
    padding: 34px;
  }
  .orderForm:not(.heroForm) > *:first-child {
    flex-grow: 1;
  }
  .orderForm:not(.heroForm) > *:nth-child(2) {
    flex-grow: 1;
    flex: 1 0 324px;
    max-width: 324px;
    width: 100%;
    display: flex;
    /* border-left: 1px solid rgb(209, 209, 209); */
  }
  .orderForm:not(.heroForm) > *:last-child {
    flex: 1 0 340px;
    max-width: 340px;
    width: 100%;
    display: flex;
  }
  .inputField {
    padding: 0 16px;
  }
  .inputFieldLabel {
    display: block;
  }
  .orderFormInfo {
    margin-bottom: 16px;
    text-align: initial;
  }
}

.orderFormTitle {
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

.orderFormBox {
  /* max-width: 1200px; */
  /* min-width: 1200px; */
}

.buttons {
  text-align: center;
  flex-grow: 1;
}

.submitButton {
  cursor: pointer;
  width: 100%;
}

@media all and (min-width: 768px) {
  .orderFormBox {
    max-width: 768px;
    margin: 0 auto;
  }

  .buttons {
    margin-top: 30px;
  }
}

.radio.radioBtn input {
  height: 45px;
  max-width: 100%;
  width: 100%;
  border: 1px solid #e6f4ea;
  background-color: #e6f4ea;
  color: var(--color-green);
  border-radius: 5px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  white-space: normal;
}

.checkTerms input {
  /* height: 26px; */
  font-size: 36px;
  margin-right: 5px;
  border: 1px solid #2fa037;
}

.checkTerms label {
  /* height: 26px; */
  font-size: 12px;
  color: gray;
}

.checkTerms label a {
  /* height: 26px; */
  font-size: 12px;
  color: gray;
}

.sectionBox {
  width: 100%;
  margin: 0px 0px 20px 0px;
  background-color: #F8F8F2;
  /* padding: 7px; */
  float: none;
  display: flex;
}

.sectionTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  /* height:30px; */
  line-height: 30px;
  padding-left: 10px;
  /* width: var(100% - 30px) !important; */

  color: #909394;
}

.sectionNumber {
  background-color: var(--color-green);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  width: 30px;
  height:30px;
  padding: 5px;
  text-align: center;
  /* float: left; */

  color: var(--color-white);
}

.input {
  height: 40px;
  width: 100%;
  /* border: 1px solid #5f5f5f; */
  border: 1px solid hsl(0,0%,80%);
  border-radius: 5px;
  background-color: var(--color-white);
  padding: 10px 12px;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  transition: 0.2s all;
}
